:root {
    --dark-grey: #e5e5e5;
    --light-grey: #f8f9fa;
    --sea-green: #7ae582;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: 'Plus Jakarta Sans',sans-serif;
}


header {
    border-bottom: 1px solid black;
    background-color: white;
    box-shadow: -4px 5px 4px 0px #a5a2a2;
    position: fixed;
    top: 0;
    width: 100vw;
}

nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    height: 100%;
}

    .logo img {
        height: 100%;
        object-fit: contain;
        padding-top: 13px;
    }

.nav-links ul {
    display: flex;
    gap: 2em;
}

a {
text-decoration:none;
color: black;
}

.nav-links li,
.nav-links a {
    text-decoration: none;
    list-style: none;
    color: black
}

nav input {
    font-size: 1rem;
    padding: 0.5em 4em 0.5em 0.5em;
    border-radius: 40px;
    border: 1px solid grey;
}

.search-bar {
    position: relative;
}

    .search-bar button {
        position: absolute;
        right: 10px;
        top: 8px;
        background-color: white;
        border: none;
        cursor: pointer;
    }

.account-link,
.cart-link {
    display: flex;
    align-items: center;
}

.left-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    background-color: var(--light-grey);
    box-shadow: -4px 5px 4px 0px #a5a2a2;
}


    .dropdown-content li {
        padding: 1em 1em;
        border-bottom: 1px solid black;
    }

        .dropdown-content li:hover {
            transition: all 0.1s ease-in;
            background-color: var(--sea-green);
            translate: 4px -4px;
        }

.dropdown-menu:hover .dropdown-content {
    transition: all 0.1s ease-in;
    display: block;
}

section {
    margin-top: 80px;
}

.page-title {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
}

    .page-title img {
        margin-right: 10px;
    }

.timeline {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.bubble {
    color: white;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 50%;
    font-weight: 700;
}

.bar {
    height: 5px;
    flex-grow: 2;
    background-color: black;
    border-radius: 1px;
}

.inactive {
    background-color: grey;
}

.timeline-titles {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.main-content {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.product-list {
    background-color: var(--light-grey);
    border-radius: 10px;
    width: 70%;
}

.product-card {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 1em;
}

.product-img {
    width: 20%;
}

    .product-img img {
        width: 100%;
        object-fit: contain;
    }

.product-name, .product-price {
    font-size: 20px;
    font-weight: 700;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-description {
    color: grey;
}

.action-btns {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5em 1em;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.quantity-btn {
    font-size: 20px;
}

    .quantity-btns {
        padding: 0.2em 0.5em;
        font-size: 20px;
        background-color: var(--sea-green);
        border: none;
    }

.quantity {
    margin-inline: 10px;
}

.order-summary {
    background-color: var(--light-grey);
    padding: 1em;
    border-radius: 10px;
    width: 30%;
    height: 350px;
}

.summary {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-weight: 600;
}

.proceed-btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid black;
}

    .proceed-btn button {
        background-color: var(--sea-green);
        font-weight: 500;
        font-size: 20px;
        padding: 0.8em 2em;
        border-radius: 80px;
    }


/* media queries */

/* Desktop container utility class: */
.contain {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
    .contain {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .contain {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .contain {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .contain {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .contain {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .contain {
        width: 100%;
    }
}
